/**
 * Boreas Stylesheet
 * http://bit.ly/1ywfhq7
 */

/* Variables */
$C_white: #ffffff;
$C_black: #222B2D;

/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', serif;
  letter-spacing: -.2px;
  min-height: 100vh;
  background: #F4F4F4;
}

.navbar {
  background: $C_black;
  border-radius: 0;
  color: $C_white;
  margin-bottom: 0;

  .navbar-brand {
    height: 60px;
    line-height: 26px;
    color: $C_white;
  }

  .navbar-nav > li > a {
    line-height: 28px;
    color: $C_white;
  }
}

.landing {
  background: $C_white;
  border: 1px solid #EFEEEE;
  padding: 80px;

  .title {
    color: $C_black;
    font-weight: 700;
    margin-bottom: 0;
  }
  .subtitle {
    color: #A9A9A9;
    margin-top: 0;
  }
  .btn {
    background: #41D0A5;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 0 #2C8B6E;
    font-weight: 400;
    margin-top: 20px;
    padding: 10px 30px;

    &:active {
      background: #2C8B6E;
    }
  }
}
