$modal-narrow-width: 450px;
$modal-box-shadow: rgba(50, 50, 50, 0.2);

.modal {
  background: rgba(50, 50, 50, 0.3);
}

.modal .modal-dialog {
  margin-top: 100px;
}

.modal--narrow .modal-dialog {
  max-width: $modal-narrow-width;
}

.modal-content {
  border: 0;
  box-shadow: 0 4px 8px 2px $modal-box-shadow;
  color: $dark-gray;
}

.modal-header {
  background: $dark-white;
  border: 1px solid #e9e5e5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: $dark-gray;
}

.modal-header .close {
  position: absolute;
  right: $space;
}

.modal-body {
  border: 1px solid $light-border;
  border-radius: 0 0 6px 6px;
  font-size: 16px;
}

.modalActions {
  display: flex;
  margin-top: $space * 2;

  .button {
    margin-left: 12px;
    width: 100%;
  }
  .button:first-child {
    margin-left: 0;
  }
}

.modal .form-control {
  background: $dark-white;
  border-color: $light-border;
  box-shadow: none;
}

.modal textarea {
  height: 120px;
  resize: none;
}
