$panelHeight: 400px;

.item-home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-home-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: $panelHeight;
  position: relative;
  white-space: pre-wrap;
  padding: $space;

  .time-left {
    position: absolute;
    top: $space;
    right: $space * 1.5;
  }

  .panel-face {
    left: $space * 1.5;
    top: $space;
    position: absolute;
  }
}
