{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    extends: [
      "airbnb",
      "prettier",
      "prettier/react",
    ],
    "plugins": [
        "babel",
        "react",
    ],
    "rules": {
      "no-underscore-dangle": 0,
    }
}
