<%- include('header') -%>
<div class='container'>
	<% if ( typeof user === 'undefined') { %>
		<%- include('landing') -%>
	<% } else { %>
		<%- include('home') -%>
	<% } %>
</div>
<%- include('footer') -%>
