<!doctype html>
<html>
<head>
	<title>Boreas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<div>
	<h1>Profile Page</h1>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>

	<h3>Local</h3>
	<p>
		<strong>id</strong>: <%= user._id %><br>
		<strong>name</strong>: <%= user.name %><br>
		<strong>email</strong>: <%= user.email %><br>
	</p>

</div>
</body>
</html>
