<!doctype html>
<html>
<head>
	<title>Boreas</title>
</head>
<body>
<div>
	<h1>Items to review today</h1>

	<ul>
		<% items.forEach(function(item) { %>
			<li><%- item.title -%></li>
		<% }); %>
	</ul>

	<hr>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
</body>
</html>
