$hero-margin: 240px;
$navbar-height: 56px;

// Landing nav section
.landing-page .navbar {
  box-shadow: none !important;
  background: $primary-blue !important;
}

.landing-page .navbar-brand {
  color: $white !important;
}

.landing-page .nav-link {
  color: $white !important;
}

// Landing hero section
.landing-hero {
  background: $primary-blue;
  color: $white;
}

.landing-hero .btn-light {
  color: $primary-blue;
  padding: 10px 15px;
}

.landing-copy {
  text-align: center;
  max-width: 440px;
  margin-top: $hero-margin;
  margin-bottom: $hero-margin + $navbar-height;

  @include atMediumUp {
    text-align: left;
    margin-right: 30px;
  }
}

.landing-box .border {
  border-color: $dark-gray !important;
}

.landing-info .btn-primary {
  padding: 10px 15px;
}
