$hero-margin: 180px;
$navbar-height: 56px;
$hero-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

.landing-page .navbar {
  box-shadow: none !important;
  background: $primary-blue !important;
}

.landing-page .navbar-brand {
  color: $white !important;
  text-shadow: $hero-text-shadow;
}

.landing-page .nav-link {
  color: $white !important;
  text-shadow: $hero-text-shadow;
}

.landing-hero {
  background: $primary-blue;
  color: $white;
}

.landing-hero .btn-light {
  color: $primary-blue;
  padding: 10px 15px;
}

.landing-hero h1,
.landing-hero h2 {
  text-shadow: $hero-text-shadow;
}

.landing-copy {
  text-align: center;
  max-width: 440px;

  @include atMediumUp {
    text-align: left;
    margin-right: 30px;
    margin-top: $hero-margin;
    margin-bottom: $hero-margin + $navbar-height;
  }
}

.landing-box .border {
  border-color: $dark-gray !important;
}

.landing-box .lead {
  text-align: center;

  @include atMediumUp {
    text-align: left;
  }
}

.landing-info .btn-primary {
  padding: 10px 15px;
}

.landing-info .lead {
  line-height: 1.8em;
}

.landing-footer {
  background: $primary-blue;
  color: $white !important;
}

.landing-footer a {
  color: $white;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
