$popoverWidth: 200px;

.popover {
  border: 1px solid $C_lightCardBorder;
  box-shadow: 0 2px 4px $C_lightShadow;
  top: $space / 3;
  width: $popoverWidth;
}
.popover--left {
  left: 0;
  right: auto;
}
.popover--right {
  left: auto;
  right: 0;
}
