.StudyContainer .list-group-item:hover {
  background: $primary-blue;
  color: $white !important;

  .text-dark,
  .text-secondary {
    color: $white !important;
  }

  .badge-pill {
    background: $white;
    color: $primary-blue;
  }
}
