.study-group-item:hover {
  background: $primary-blue;
  color: $white !important; // scss-lint:disable ImportantRule

  .text-dark,
  .text-secondary {
    color: $white !important; // scss-lint:disable ImportantRule
  }

  h5 {
    color: $white !important; // scss-lint:disable ImportantRule
  }

  .badge {
    background: $white;
    color: $primary-blue;
  }
}
