/**
 * Items styles
 * http://bit.ly/1ywfhq7
 */

.newItemCard {
  background-color: $C_white;
  border: 1px solid $C_lightBorder;
  display: block;
  height: auto;
  overflow: hidden;
  padding: $space;
  position: relative;
  margin-bottom: 20px;
}

.newItemCard label {
  color: $C_darkGray;
}

.newItemCard textarea {
  resize: none;
  height: 80px;
}

.newItemCard .form-control {
  background: $C_darkWhite;
  border-color: $C_lightBorder;
  box-shadow: none;

  &::placeholder {
    color: $C_lightGray;
  }
}

.newItemCard .title {
  hyphens: auto;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.newItemCard .itemCard--close {
  border: 0;
  color: $C_lightGray;
  top: 3px;
  right: 7px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 0;
  position: absolute;

  & .glyphicon {
    line-height: 15px;
    width: 13px;
    text-align: center;
  }
}
