/**
 * Button stylesheet
 */

.btn {
  padding: 8px 24px;
  font-size: 16px;
}

.btn-primary {
  background: $C_primaryBlue;
  border: 1px solid $C_primaryBlue;
  border-radius: $borderRadius--button;
  color: $C_white;
}
.btn-default {
  background: none;
  border: 1px solid $C_mediumGray;
  border-radius: $borderRadius--button;
  color: #777777;
}

.btn-danger {
  background: $C_errorRed;
  border: 1px solid $C_errorRed;
  border-radius: $borderRadius--button;
  color: $C_white;
}
