/**
 * DeckHomeContainer stylesheet
 */

.DeckHomeContainer {
  color: $C_black;
}

.deckHeader {
  position: relative;
}
.deckActions--overflow {
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  border: none;

  .glyphicon {
    color: $C_darkGray;
    font-size: 20px;
  }
}

.deckSubtitle {
  color: $C_mediumGray;
  margin: 0;
  font-size: 16px;
}
.deckTitle {
  margin: 0;
  font-size: 28px;
  color: $C_darkGray;
  font-weight: bold;
  margin-bottom: 10px;
}
.deckDescription {
  font-size: 18px;
  color: $C_darkGray;
}
.deckDetails {
  font-size: 16px;
  color: $C_mediumGray;
}

.deckActions {
  margin-top: 16px;
}
.deckActions .button {
  margin-left: 12px;
}
.deckActions .button:first-child {
  margin-left: 0;
}

.deckHome-items {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.deckHome-itemWrapper {
  background: $C_white;

  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
  }
}

.deckHome-item {
  align-items: center;
  color: $C_darkGray;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid #e9e9e9;

  &:focus,
  &:hover {
    background: #f0f0f0 !important;
    color: $C_black;
    text-decoration: none;
  }
  &--hidden {
    background: rgba(256, 256, 256, 0.6);
  }
  &--hidden .title {
    opacity: 0.6;
  }
  &--hidden .itemAction-hideItem {
    color: $C_darkGray;
  }
  .itemActions {
    color: $C_mediumGray;
    display: flex;
  }
  .itemAction-hideItem {
    margin-left: 18px;
  }
}
.popoverActions .action {
  padding: 12px;
  font-size: 16px;
  color: $C_darkGray;

  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
  }
  &:hover {
    background: #f0f0f0;
  }
  &.border-top {
    border-top: 1px solid #ecedee;
  }
}
