/**
 * Deck styles
 * http://bit.ly/1ywfhq7
 */
@import './vars';

$deckCardHeight: 250px;

.editDeckInfo,
.deckInfo {
  border: 1px solid $C_lightCardBorder;
  border-radius: 3px;
  background-color: $C_white;
  margin-bottom: 10px;
  padding: 10px;
}

.deckInfo {
  text-align: center;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;

  .title {
    color: $C_darkGray;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
  }

  .description {
    color: $C_mediumGray;
    font-size: 16px;
    margin: 0;
  }
}

.deck-page .deck-actions {
  display: flex;

  .btn {
    width: 100%;
  }
}

.editDeckInfo {
  border-color: $C_lightCardBorder;

  label {
    color: $C_darkGray;
  }

  textarea {
    resize: none;
    height: 80px;
  }

  .form-control {
    background: $C_darkWhite;
    border-color: $C_lightCardBorder;
    box-shadow: none;

    &::placeholder {
      color: $C_lightGray;
    }
  }
}

.itemCard,
.deckCard {
  background-color: $C_white;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $C_black;

  &:hover > p {
    text-decoration: none;
  }
}

.deckCard {
  margin-top: 12px;
  border: 1.5px solid $C_lightCardBorder;
  border-radius: 6px;
  color: $C_black;
  position: relative;
  height: $deckCardHeight;

  &:hover {
    text-decoration: none;
    color: $C_black;
  }
}

.deckCard-stack-1 {
  background: $C_white;
  position: absolute;
  bottom: 0;
  top: -8px;
  right: 5px;
  left: 5px;
  border: 1.5px solid $C_lightCardBorder;
  border-radius: 6px;
  z-index: -1;
}

.deckCard-stack-2 {
  background: $C_white;
  position: absolute;
  bottom: 0;
  top: -14px;
  right: 15px;
  left: 15px;
  border: 1.5px solid $C_lightCardBorder;
  border-radius: 6px;
  z-index: -2;
}

.deckCard-itemCount {
  color: $C_mediumGray;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.deckCard-cardIcon {
  margin-bottom: 2px;
  margin-left: 4px;
  height: 16px;
}

.deckCard-title {
  color: $C_black;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.deckCard-subtitle {
  color: $C_mediumGray;
  margin: 0;
}

.btn-addItem {
  margin-bottom: 15px;
}

$C_midGray: #949494;

.btn-deckAction {
  border: 1.5px solid $C_lightGray;
  color: $C_midGray;
  background: none;

  &:hover {
    color: $C_midGray;
  }
}

.btn-newItem,
.btn-newDeck {
  background: $C_primaryBlue;
  color: $C_white;
  font-size: 14px;
  padding: 7px 17px;
  transition: all 0.1s ease;
  text-shadow: 0 0.5px 0 $C_primaryDarkBlue;
  line-height: 24px;

  &:hover {
    background: $C_primaryDarkBlue;
    color: $C_white;
    text-shadow: none;
  }
}

.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.itemCard .title {
  hyphens: auto;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.btn.itemCard--close {
  position: absolute;
  top: 3px;
  right: 7px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 0;
  border: none;
  color: $C_lightGray;

  & .glyphicon {
    line-height: 15px;
    width: 13px;
    text-align: center;
  }
}
.items--wrapper {
  padding: 0;
}

.sessions-page .emptyView-wrapper,
.items-page .emptyView-wrapper,
.decks-page .emptyView-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.sessions-page .emptyView,
.items-page .emptyView,
.decks-page .emptyView {
  margin-top: 20px;
  max-width: 500px;
}
.sessions-page .emptyView .title,
.items-page .emptyView .title,
.decks-page .emptyView .title {
  color: $C_darkGray;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.sessions-page .emptyView .description,
.items-page .emptyView .description,
.decks-page .emptyView .description {
  color: $C_mediumGray;
  font-size: 16px;
  margin-top: 6px;
}
