/**
 * Deck styles
 * http://bit.ly/1ywfhq7
 */

$itemCardHeight: 200px;
$deckCardHeight: 200px;

.newDeck-info {
  border-color: $C_lightCardBorder;
}

.newDeck-info label {
  color: $C_darkGray;
}

.newDeck-info textarea {
  resize: none;
  height: 80px;
  background: $C_white;
}

.newDeck-info .form-control {
  background: $C_white;
  border-color: $C_lightCardBorder;
  box-shadow: none;

  &::placeholder {
    color: $C_lightGray;
  }
}

.form-saveDeck {
  position: relative;
  padding-bottom: 50px;

  @include atSmallUp {
    padding-bottom: 0;
  }
}

.form-saveDeck .button-saveDeck {
  margin-left: 12px;
}

.form-saveDeck .newDeck-infoWrapper {
  position: unset;

  @include atSmallUp {
    position: relative;
  }
}

.deckCard {
  background-color: $C_white;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  box-shadow: inset 0 -8px 0 0 #f1f1f1;
  color: $C_darkGray;
  display: flex;
  flex-direction: column;
  height: 180px;
  hyphens: auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 12px;
  position: relative;
  padding: $space;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $C_darkGray;
  }

  @include atSmallUp {
    height: $deckCardHeight;
  }

  &::before {
    border-radius: 12px;
    bottom: 0px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.06);
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.deckCard-itemCount {
  color: #afadad;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.deckCard-cardIcon {
  margin-bottom: 2px;
  margin-left: 4px;
  height: 16px;
}

.deckCard-title {
  color: $C_darkGray;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.deckCard-subtitle {
  color: $C_mediumGray;
  margin: 0;
}

.button-addItem {
  background: $C_white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.16);
  border: 1px solid #f4f4f4;
  color: $C_darkGray;
  margin-bottom: 15px;
  padding: 8px 15px;
  transition: all 0.2s ease;

  &:hover {
    border: 1px solid $C_mediumGray;
  }
}

.review-page .emptyView-wrapper,
.items-page .emptyView-wrapper,
.decks-page .emptyView-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.review-page .emptyView,
.items-page .emptyView,
.decks-page .emptyView {
  margin-top: 20px;
  max-width: 500px;
}
.review-page .emptyView .title,
.items-page .emptyView .title,
.decks-page .emptyView .title {
  color: $C_darkGray;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.review-page .emptyView .description,
.items-page .emptyView .description,
.decks-page .emptyView .description {
  color: $C_mediumGray;
  font-size: 16px;
  margin-top: 6px;
}
