/**
 * Items styles
 * http://bit.ly/1ywfhq7
 */
@import "./vars";

$C_borderRadius: 4px;

.item-newItemLink {
  background: $C_primaryGreen;
  border: 1px solid $C_primaryDarkGreen;
  color: $C_white;
  font-size: 14px;
  padding: 7px 17px;
  transition: all .1s ease;
  text-shadow: 0 .5px 0 $C_primaryDarkGreen;

  &:hover {
    background: $C_primaryDarkGreen;
    border: 1px solid $C_primaryDarkGreen;
    color: $C_white;
    text-shadow: none;
  }
}

.itemCard {
  align-items: center;
  color: $C_black;
  border: 1px solid $C_cardBorder;
  border-radius: $C_borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  position: relative;

  &:hover {
    text-decoration: none;
    color: $C_black;
  }
}

.itemCard .hideIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $C_mediumGray;
}

.itemCard .progress {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
}

.decks-page .page-header,
.items-page .page-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  @include atSmallUp {
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include atSmallUp {
      width: auto;
    }
  }

  .title {
    flex-grow: 1;
    margin-bottom: 5px;
  }

  .subtitle {
    color: $C_mediumGray;
  }

  .search {
    flex-grow: 1;
    margin-right: 30px;

    @include atSmallUp {
      flex-grow: none;
    };
  }

  .search input {
    border-radius: 999px;
    padding: 10px 20px;
    background: transparent;
  }
}
