/**
 * Items styles
 * http://bit.ly/1ywfhq7
 */
@import './vars';

.item-newItemLink {
  background: $C_primaryGreen;
  border: 1px solid $C_primaryDarkGreen;
  color: $C_white;
  font-size: 14px;
  padding: 7px 17px;
  transition: all 0.1s ease;
  text-shadow: 0 0.5px 0 $C_primaryDarkGreen;

  &:hover {
    background: $C_primaryDarkGreen;
    border: 1px solid $C_primaryDarkGreen;
    color: $C_white;
    text-shadow: none;
  }
}

.itemCard {
  align-items: center;
  color: $C_black;
  border: 1px solid $C_cardBorder;
  border-radius: $C_borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  position: relative;

  &:hover {
    text-decoration: none;
    color: $C_black;
  }
}

.itemCard--hidden .item-progress,
.itemCard--hidden .title {
  opacity: 0.35;
}

.itemCard-edit {
  border-color: $C_lightCardBorder;
  display: block;
  height: auto;

  label {
    color: $C_darkGray;
  }
  textarea {
    resize: none;
    height: 80px;
  }

  .form-control {
    background: $C_darkWhite;
    border-color: $C_lightCardBorder;
    box-shadow: none;

    &::placeholder {
      color: $C_lightGray;
    }
  }
}

.itemCard .hideIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $C_mediumGray;
}

.itemCard .item-progress {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  color: $C_mediumGray;
  font-size: 12px;
  margin: 0;
  text-align: left;
  top: 0;

  $dotSize: 6px;

  .progress-dot {
    width: $dotSize;
    height: $dotSize;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 100%;
  }

  .progress-time {
    margin-left: 5px;
    line-height: 16px;
    font-size: 12px;
  }

  .progress-needsReview {
    flex-grow: 1;
    margin-left: 5px;
  }
}

.itemCard .glyphicon-eye-open {
  color: $C_mediumGray;
}

.itemCard .progress-dot--good {
  background-color: $C_progressGood;
}
.itemCard .progress-dot--warm {
  background-color: $C_progressWarm;
}
.itemCard .progress-dot--hot {
  background-color: $C_progressHot;
}

.sessions-page .page-header .actions {
  align-self: flex-end;
}
.sessions-page .page-header .link-seeAll {
  color: $C_darkGray;
  font-size: 16px;
}

.session-page .review-actions .btn-primary {
  width: 100%;
}

.sessions-page .page-header,
.decks-page .page-header,
.items-page .page-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  @include atSmallUp {
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
  }

  .actions {
    display: inline-block;
    width: 100%;
    margin-top: 15px;

    @include atSmallUp {
      margin: 0;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .title {
    flex-grow: 1;
    margin-bottom: 5px;
  }

  .create .btn {
    width: 100%;

    @include atSmallUp {
      width: auto;
    }
  }

  .subtitle {
    color: $C_mediumGray;
    margin-bottom: 0;
  }

  .search {
    flex-grow: 1;
    margin-bottom: 8px;

    @include atSmallUp {
      flex-grow: none;
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .search input {
    border-radius: 999px;
    padding: 10px 20px;
    background: transparent;
  }
}
