/**
 * Landing styles
 * http://bit.ly/1ywfhq7
 */

$C_primaryBlue: #1574FB;
$C_darkGray: #4B4B4B;
$C_mediumGray: #8D8D8D;

.landing-page {
  background: $C_white;
  min-height: 100vh;
  position: relative;
}

.landing-page .navbar.navbar-inverse {
  background: transparent;
  border: 0;
  color: $C_black;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  .navbar-brand {
    height: 60px;
    line-height: 26px;
    color: $C_black;
  }
  .navbar-toggle {
    background: none;
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $C_black;
    }
  }
  .navbar-toggle .icon-bar {
    background: $C_black;
  }

  .navbar-nav > li > a {
    background: $C_black;
    border: 1px solid $C_black;
    color: $C_white;
    line-height: 28px;
    margin: 10px 0;
    padding: 6px 35px;
    transition: all .2s ease;

    @include atSmallUp {
      border-radius: 6px;
      color: $C_black;
      background: none;
    }

    &:hover {
      color: $C_white;
      background: $C_black;
    }
  }
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-body {
  display: flex;
  flex-direction: row;
}

.landing-copy {
  text-align: left;
  width: 50%;
  margin-right: 30px;

  .title {
    color: $C_primaryBlue;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 5px;
  }

  .subtitle {
    color: $C_darkGray;
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
  .coming-soon {
    color: $C_mediumGray;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }
}

.landing-image img {
  background-size: cover;
  width: 100%;
}

.landing-form {
  margin-top: 80px;
  width: 100%;

  .landing-input {
    display: flex;
  }

  label {
    color: $C_mediumGray;
    font-style: italic;
    font-weight: 400;
  }

  input {
    background: transparent;
    border: 2px solid $C_primaryBlue;
    border-radius: 3px 0 0 3px;
    padding: 10px 15px;
    width: 100%;
  }

  .btn {
    background: $C_primaryBlue;
    border: 0;
    border-radius: 0 3px 3px 0;
    font-weight: 400;
    padding: 10px 20px;

    &:active {
      background: #2C8B6E;
    }
  }
}
