/**
 * Landing styles
 * http://bit.ly/1ywfhq7
 */

.landing-page {
  background: $C_white;
  min-height: 100vh;
  position: relative;
}

.landing-page .navbar.navbar-inverse {
  background: transparent;
  border: 0;
  color: $C_black;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  .navbar-brand {
    height: 60px;
    line-height: 26px;
    color: $C_primaryBlue;
  }
  .navbar-toggle {
    background: none;
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $C_black;
    }
  }
  .navbar-toggle .icon-bar {
    background: $C_black;
  }

  .navbar-collapse {
    border-color: $C_primaryBlue;
  }

  .navbar-nav > li > a {
    color: $C_white;
    line-height: 28px;
    margin: 10px 0;
    padding: 6px 35px;
    transition: all .2s ease;
    border: 1px solid transparent;
    background: $C_primaryBlue;

    @include atSmallUp {
      border-radius: 6px;
      color: $C_primaryBlue;
      background: none;
    }

    &:hover {
      border: 1px solid $C_primaryBlue;
    }
  }
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-body {
  display: flex;
  flex-direction: row;
}

.landing-copy {
  text-align: center;

  @include atSmallUp {
    text-align: left;
    max-width: 440px;
    margin-right: 30px;
  }

  .title {
    color: $C_primaryBlue;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 5px;
  }

  .subtitle {
    color: $C_darkGray;
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
  .coming-soon {
    color: $C_mediumGray;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }
}

.landing-image {
  display: none;
  margin: auto;

  @include atSmallUp {
    display: inline;
  }
}
.landing-image img {
  background-size: cover;
  width: 100%;
}

.landing-form {
  margin-top: 80px;
  width: 100%;

  .landing-input {
    display: flex;
    flex-direction: column;

    @include atSmallUp {
      flex-direction: row;
    }
  }

  label {
    color: $C_mediumGray;
    font-style: italic;
    font-weight: 400;
  }

  input {
    background: transparent;
    border: 2px solid $C_primaryBlue;
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;

    @include atSmallUp {
      border-radius: 3px 0 0 3px;
    }
  }

  .btn {
    background: $C_primaryBlue;
    border: 2px solid $C_primaryBlue;
    border-radius: 3px;
    font-weight: 400;
    padding: 10px 20px;
    margin-top: 5px;
    transition: all .2s ease-in-out;

    @include atSmallUp {
      border-radius: 0 3px 3px 0;
      margin-top: 0;
    }

    &:hover,
    &:focus,
    &:active {
      border: 2px solid #0F65DF;
      background: #0F65DF;
    }
  }
}

.landing-form {
  position: relative;
  margin-bottom: 35px;

  &.error .landing-input {
    animation: shake 200ms 2 linear;
  }

  &.success {
    animation: dropIn 200ms 1 ease-in-out;
  }
}

.landing-form .input-error {
  color: $C_errorRed;
  margin-top: 5px;
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
}

.landing-form.success {
  display: flex;
  align-items: center;
  justify-content: center;

  .success-checkmark {
    align-items: center;
    background: #51D5AF;
    border-radius: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    width: 40px;

    img { width: 100%; }
  }

  .info-success {
    flex: 1;
    text-align: left;
  }
}

.landing-footer {
  color: #CBCBCB;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;

  .footer-item {
    display: inline;
    padding: 10px 20px;

    a {
      color: #CBCBCB;
    }
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
