/*
 * List item stylesheet
 */

.itemList {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.itemList-itemWrapper {
  background: $C_white;

  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
  }
}

.itemList-item {
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  color: $C_darkGray;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 0 16px;

  &:focus,
  &:hover {
    background: #f6f6f6 !important;
    color: $C_black;
    text-decoration: none;
  }
  &--hidden {
    background: rgba(256, 256, 256, 0.6);
  }
  &--hidden .title {
    opacity: 0.6;
  }
  &--hidden .itemAction-hideItem {
    color: $C_darkGray;
  }
  .itemActions {
    align-items: center;
    color: $C_mediumGray;
    display: flex;
  }
  .itemAction-hideItem {
    margin-left: 18px;
  }
  .itemAction-overflow {
    padding: 24px 12px;

    &:hover {
      background: $C_primaryBlue;
    }
  }
}

.itemList .item-timeLeft {
  margin-right: 16px;
}

.item-timeLeft {
  align-items: center;
  background: #f2f2f2;
  border-radius: 999px;
  color: #a29f9f;
  display: flex;
  font-size: 15px;
  font-weight: normal;
  padding: 4px 12px;

  &--due {
    background: #ffdede;
    color: #ff5a5a;
  }

  .icon-alarm {
    margin-left: 6px;
    width: 18px;
  }
}
