/**
 * Login styles
 * http://bit.ly/1ywfhq7
 */
@import "./vars";

 .login-form,
 .signup-form {
   margin-top: 100px;

   form {
     margin-top: 10px;
   }
   label {
     color: $C_darkGray;
   }

   .link {
     color: $C_primaryBlue;
   }
 }
