/**
 * Navbar styles
 * http://bit.ly/1ywfhq7
 */

.navbar {
  background: $C_white;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px rgba(178, 178, 178, .5);
  color: $C_primaryBlue;
  margin-bottom: 0;

  .navbar-brand {
    height: 60px;
    line-height: 26px;
    color: $C_primaryBlue;
  }

  .navbar-nav > li > a {
    line-height: 28px;
    color: $C_darkGray;
  }
}
