/**
 * Navbar styles
 * http://bit.ly/1ywfhq7
 */
@import './vars';

.navbar {
  background: $C_white;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px $C_transparentGray;
  color: $C_primaryBlue;
  margin-bottom: 0;

  .navbar-brand {
    height: 58px;
    line-height: 26px;
    color: $C_primaryBlue;

    &:hover,
    &:focus {
      color: $C_primaryBlue;
    }
  }

  .navbar-nav > li > .active-nav-link {
    color: $C_white;
    background-color: $C_primaryGreen;

    &:hover,
    &:focus {
      background-color: $C_primaryDarkGreen !important;
      color: $C_white;
    }
  }

  .navbar-nav > li > a {
    line-height: 28px;
    color: $C_darkGray;

    &:hover,
    &:focus {
      color: $C_black;
    }
  }

  .navbar-toggle,
  .navbar-toggle:hover {
    background: transparent;
    border-color: $C_primaryBlue;
    transition: all 0.1s ease-in-out;

    .icon-bar {
      background: $C_primaryBlue;
    }
  }
  .navbar-toggle.collapsed {
    border-color: transparent;

    .icon-bar {
      background: $C_black;
    }
  }

  .btn-reviewNow {
    color: $C_white !important;
    background: $C_primaryGreen;
    border-color: transparent;
    height: 40px !important;
    padding: 5px 25px;
    margin: 10px 15px;
    transition: all 0.1s ease-in-out;
    text-shadow: 0 0.5px 0 $C_primaryDarkGreen;
    width: inherit;

    @include atSmallUp {
      margin-right: 20px;
    }

    &:hover,
    &:active {
      background: $C_primaryDarkGreen !important;
    }

    .items-due {
      color: #288569;
      background: #39b791;
      border-radius: 3px;
      padding: 2px 3px;
      margin-left: 3px;
      font-size: 11px;
      font-weight: bold;
    }
  }
}
