/**
 * Navbar styles
 * http://bit.ly/1ywfhq7
 */
@import './vars';

.navbar {
  background: $C_white;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px $C_transparentGray;
  color: $C_primaryBlue;
  margin-bottom: 0;

  .navbar-brand {
    height: 60px;
    line-height: 26px;
    color: $C_primaryBlue;

    &:hover,
    &:focus {
      color: $C_primaryBlue;
    }
  }

  .navbar-nav > li > .active-nav-link {
    color: $C_white;
    background-color: $C_primaryGreen;
    height: 60px;

    &:hover,
    &:focus {
      background-color: $C_primaryDarkGreen !important;
      color: $C_white;
    }
  }

  .navbar-nav > li > a {
    line-height: 28px;
    color: $C_darkGray;

    &:hover,
    &:focus {
      color: $C_black;
    }
  }

  .navbar-toggle,
  .navbar-toggle:hover {
    background: transparent;
    border-color: $C_primaryBlue;
    transition: all 0.1s ease-in-out;

    .icon-bar {
      background: $C_primaryBlue;
    }
  }
  .navbar-toggle.collapsed {
    border-color: transparent;

    .icon-bar {
      background: $C_black;
    }
  }

  .btn-reviewNow {
    color: $C_white !important;
    background: $C_primaryGreen;
    border-color: transparent;
    padding: 5px 25px;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    margin-right: 20px;

    &:hover,
    &:active {
      background: $C_primaryDarkGreen !important;
    }
  }
}
