/**
 * Session page stylesheet
 */

.review-page .review-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $space;
}

.review-page .review-header h5 {
  color: $C_mediumGray;
  font-size: 16px;
  margin: 0;
}

.review-page .review-count {
  color: $C_mediumGray;
  font-style: italic;
  font-size: 16px;
}

.review-page .interval {
  color: #073a83;
  margin-left: 2px;
}
