/**
 * Review styles
 * http://bit.ly/1ywfhq7
 */
@import './vars';

.reviewCard--hide {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $C_mediumGray;
}

.panel-body {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 360px;
  white-space: pre-wrap;
  position: relative;
}

.panel-body h3 {
  margin: 0;
}

.btn-reset {
  background: none;
}

.green-check {
  color: $C_primaryGreen;
}
