/**
 * Review styles
 * http://bit.ly/1ywfhq7
 */

.panel-body {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 360px;
  white-space: pre-wrap;
  position: relative;
}

.panel-body h3 {
  margin: 0;
}

.green-check {
  color: $C_primaryGreen;
}
