$C_primaryBlue: #1574fb;
$C_primaryDarkBlue: #0F65DF;
$C_primaryGreen: #41D0A5;
$C_primaryDarkGreen: #3BC29A;

$C_white: #ffffff;
$C_black: #222b2d;
$C_lightShadow: rgba(0, 0, 0, .3);
$C_transparentGray: rgba(178, 178, 178, .5);
$C_darkWhite: #f8f8f8;
$C_blue: #3b85bf;
$C_darkGray: #4b4b4b;
$C_mediumGray: #8d8d8d;
$C_lightGray: #CBCBCB;
$C_cardBorder: #DDDDDD;
$C_errorRed: #e35a5a;
$C_errorDarkRed: #d25353;