$C_primaryBlue: #1574fb;
$C_primaryDarkBlue: #0f65df;
$C_primaryGreen: #41d0a5;
$C_borderGreen: #35b68f;
$C_primaryDarkGreen: #3bc29a;

$C_white: #ffffff;
$C_black: #222b2d;
$C_lightShadow: rgba(0, 0, 0, 0.3);
$C_transparentGray: rgba(178, 178, 178, 0.5);
$C_darkWhite: #f8f8f8;
$C_blue: #3b85bf;
$C_darkGray: #4b4b4b;
$C_mediumGray: #8d8d8d;
$C_lightGray: #cbcbcb;
$C_cardBorder: #dddddd;
$C_lightCardBorder: #ececec;
$C_errorRed: #e35a5a;
$C_errorDarkRed: #d25353;
$C_borderRadius: 4px;
$C_darkBorder: #d5d5d5;
$C_progressHot: #ff3232;
$C_progressWarm: #f5a623;
$C_progressGood: #50e3c2;

$borderRadius: 4px;
$borderRadius--button: 3px;
