$dark-blue: #073a83;

.review-container-panel {
  align-items: center;
  cursor: pointer;
  display: flex;
  hyphens: auto;
  justify-content: center;
  min-height: 360px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;

  .panel-face {
    left: $space * 1.5;
    position: absolute;
    top: $space;
  }
}

.review-container-count {
  color: $medium-gray;
  font-style: italic;
  font-size: 16px;
}

.review-container .interval {
  color: $dark-blue;
}
