/**
 * Session page stylesheet
 */

.ReviewContainer__panel {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 360px;
  white-space: pre-wrap;
  position: relative;
}

.ReviewContainer__panel .panel-face {
  left: $space * 1.5;
  top: $space;
  position: absolute;
}

.ReviewContainer__count {
  color: $medium-gray;
  font-style: italic;
  font-size: 16px;
}

.ReviewContainer .interval {
  color: #073a83;
  margin-left: 2px;
}
